%header.mercari-logo-header
  .mercari-logo-header__img
    = link_to root_path, method: 'get' do
      = image_tag "mercari_logo_color.png"
    .progress
      .progress__contents
        %p 会員情報
        %p 電話番号認証
        %p  お届け先住所入力
        %p.progress__contents__current  支払い方法
        %p  完了
      .progress__bar
        %progress{value:"82",max:"100"}
= render "/card_form" 
= render partial: "/small_footer"

