
.user-sign-up__title
  %p  電話番号の確認
.user-sign-up__content  
  = form_with do |f|
    .user-sign-up__form
      .field
        %i 携帯電話の番号
        = f.email_field :email, autofocus: true,placeholder:"携帯電話の番号の入力",class:"user-form-input margin-bottom-none"
      .user-sign-up__form__text
        %p  本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。

      .actions
        = f.submit "SMSを送信する",class:"user-login__form__submit user-btn"
        .user-sign-up__form__text
          %p  ※電話番号は本人確認のためや不正利用防止のために利用します。他のユーザーに後悔されることはありません。
      = link_to "電話番号の確認が必要な理由 >", "#", class:"user-sign-up__form__link"
