
.user-sign-up__title
  %p  会員登録完了
.user-sign-up__content  
  .user-sign-up__form
    .user-sign-up__form__text
      .user-sign-up__form__text--center
        %p  ありがとうございます。
        %p  会員登録が完了しました。
    = link_to "メルカリを始める", "#",class:"user-login__form__submit user-btn"



