= render "products/header"
.mypages
  .mypages__main
    .logout-contents
      .logout-contents__container
        %form
          .logout-content
            %input{type:"submit",value:"ログアウト"}
  = render "products/side_bar" 
= render "products/footer"
= render "products/exhibit_btn"