.comments{
  width: 700px;
  padding: 20px 20px 0 20px;
  margin: 20px auto 0;
  background-color: white;
  &__comment{
    width: 100%;
    max-height: 800px;
    overflow: scroll;
    &__user-info{
      display: flex;
      text-decoration: none;
      transition: .3s;
      &--current_user{
        justify-content: flex-end;
      }
      &__image{
        width:70px;
        height:70px;
        border-radius: 35px;
        &--current_user{
          order: 2;
        }
      }
      &__name{
        margin-left: 20px;
        color: black;
        &--current_user{
          order: 1;
          margin-right: 20px;
        }
      }
      &:hover{
        opacity: .6;
      }
    }
    &__contents{
      width: calc(100% - 100px);
      position: relative;
      margin-left: 80px;
      top: -50px;
      padding: 20px;
      border-radius: 5px;
      background-color: #eef0f4;
      line-height: 1.4;
      letter-spacing: 0.1em;
      &--current_user{
        margin-left: 10px;
        margin-right: 80px;
      }
      &__past{
        display: flex;
        color: #aaa;
        margin-top: 20px;
        & p:nth-child(3){
          font-size: 10px;
          margin: 0 10px;
        }
      }
    }
    &__stamp{
      width: 200px;
      height: 200px;
      position: relative;
      margin-left: 80px;
      &--wrap{
        width: 100%;
        display: flex;
        align-items: flex-end;
        top: -50px;
        position: relative;
        &--current_user{
          justify-content: flex-end;
        }
      }
      &--current_user{
        margin-left: 10px;
        margin-right: 80px;
      }
      img{
       width: 100%;
       height: 100%;
       object-fit: cover;
      }
    }
  }
  &__text{
    padding: 8px;
    font-size: 14px;
    background: #fff6de;
    width:100%;
    height: 40px;
  }
  &__stamps{
    width: 100%;
    display: flex;
    height: 0px;
    visibility: hidden;
    justify-content: space-between;
    opacity: 0;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    &--open{
      height: 140px;
      opacity: 1;
      visibility: visible;
    }
    &__stamp{
     width: 19%;
     transition: .3s;
     opacity: .7;
     cursor: pointer;
     img{
       width: 100%;
       object-fit: cover;
     }
     &:hover{
      width: 21%;
      opacity: 1;
     }
    }
  }
  &__form{
    width:100%;
    margin: 10px 0 20px;
    position: relative;
    &__text{
      width: 100%;
      height: 100px;
      padding: 10px 100px 10px 10px;
      &__stamp-btn{
        position: absolute;
        width: 100px;
        height: 100px;
        right: -10px;
        top:0px;
        cursor: pointer;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &__submit{
      width: 100%;
      margin: 10px 0 30px;
      background-color: #aaa;
      color: white;
      height: 50px;
      cursor: pointer;
    }
  }
}
.product-change{
  width: 700px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  &__back{
    text-decoration: none;
    color: #0099e8;
    position: relative;
    margin-left: 15px;
    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      top: 2px;
      left: -15px;
      border-top: 2px solid #0099e8;
      border-left: 2px solid #0099e8;
      transform: rotate( -45deg)
    }
    &:hover{
      opacity: .6;
      text-decoration: underline;
    }
  }
  &__next{
    margin-right:15px;
    text-decoration: none;
    color: #0099e8;
    position: relative;
    &::before{
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      right: -15px;
      width: 6px;
      height: 6px;
      border-top: 2px solid #0099e8;
      border-right: 2px solid #0099e8;
      transform: rotate(45deg)
    }
    &:hover{
      opacity: .6;
      text-decoration: underline;
    }
  }
}