.item--changing{
  width: 700px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: white;
  padding:8px 16px;

  a,input{
    display:block;
    margin: 16px 0 16px 0;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
  p{
    text-align: center;
  }
  .btn-gray{
    background-color: #aaa;
    border: 1px solid #aaa;
  }
}