.header{
  display:block;
  background: #fff;
  position: relative;
  z-index: 5;
  &__container{
    width: 1020px;
    margin:0 auto;
    padding:8px 0 0;
    
    &__top{
      display: flex;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      a{
        display: block;
        color: #333;
      }
      img {
        vertical-align: middle;
      }
      .header-form{
        position: relative;
        margin-left: 45px;
        width: 100%;
        -webkit-box-flex: 1;
        flex: 1;
      }
      input{
        background: #f5f5f5;
        border-radius: 4px;
        padding: 0 42px 0 10px;
        width: 100%;
        height: 40px;
      }
      .fa-search{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 40px;
        height: 40px;
      }
    }

    &__bottom{
      margin: 8px 0 0;
      .bottom-left{
        float:left;
        li{
          display: inline-block;
          padding: 0 11px;
          cursor: pointer;
        }
        .first-child{
          padding-left: 0;
        }
        .second-child{
          padding-right: 0;
        }
        h2{
          font-size: 14px;
          font-weight: 400;
        }
        a{
          font-weight: bold;
          text-decoration: none;
          color: #333;
          display:block;
          height: 44px;
          line-height: 32px;
        }
        span{
          vertical-align: middle;
        }
        .fa-list{
          display: inline-block;
          font-family: 'icon-font';
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
        }
        i{
          color: #ea352d;
          font-size: 12px;
          margin-right: 4px;
        }
      }
      .bottom-right{
        float:right;
        li{
          position: relative;
          display: inline-block;
          padding: 0 7px;
          cursor: pointer;
          
        }
        a{
          display: block;
          height: 44px;
          line-height: 32px;
          color: #333;
          text-decoration: none;
          &:hover {
            color:#0099e8;
          }
        }
        .fa-bell-list{
          display: inline-block;
          font-family: 'icon-font';
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
        }
        i{
          font-size: 20px;
          color: #ccc;
          
        }
        span{
          margin-left: 10px;
          font-size: 14px;
          vertical-align: middle;
        }

        .new-user-btn{
          .new-user-btn-color{
            border: 1px solid #ea352d;
            padding: 9.5px 15px 3px 15px;
            background: #ea352d;
            color:white;
            border-radius: 4px;
          }
        }


        .last-child{
          padding-right: 0;

          

          .login-btn{
            height:30px;
            border: 1px solid #0099e8;
            background: #fff;
            border-radius: 4px;

            .login-btn-color{
              color: #0099e8;
              padding-right:10px;
              
            }
          }
        }
      }
    }
  }
}

.header-under{
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  ul{
    overflow: visible;
    width: 700px;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
  }
}

#dropdowu-menus{
  display:inline-block;
  position: relative;
  &:hover{
    color:#0099e8;
  }
}
#dropdowu-menus--open{
  position: relative;
}
#dropdowu-menus__menu {
  width:300px;
  display:none;
  list-style-type: none;
  position: absolute;
  top:44px;
  left: -30px;
  z-index: 1 ;
  background-color :white;
  border: 0.5px solid whitesmoke;
  border-top: none;
  a {
    font-weight: 100;
    height:25px;
    line-height: 25px;
  }
  li{
    display: list-item;
    padding:10px 100px 10px 10px;
    &:hover{
      background-color: #ea352d;
      a {
        color: whitesmoke;
      }
    }
  }
  .dropdowu-menus--big--active{
    background-color: #ea352d;
    a {
      color: whitesmoke;
    }
  }
  &--middle{
    display: none;
    position: absolute;
    top: 0;
    left:290px;
    width:300px;
    height: 100%;
    z-index: 1 ;
    background-color :white;
    border: 0.5px solid whitesmoke;
    border-top: none;
    & li{
      display: list-item;
      padding: 2px 16px;
      &:hover{
        background-color: whitesmoke;
        a{
          color: black;
        }
      }
    }
  }
  .dropdowu-menus--middle--active{
    background-color: whitesmoke;
    a{
      color: black;
    }
  }
  &--small{
    display: none;
    position: absolute;
    top: 0;
    left:250px;
    width:300px;
    height: 100%;
    z-index: 1 ;
    background-color :white;
    border: 0.5px solid whitesmoke;
    border-top: none;
  }
}

#dropdowu-brands{
  display:inline-block;
  position: relative;
}  

#dropdowu-brands__menu {
  display:none;
  list-style-type: none;
  position: absolute;
  z-index: 1 ;
  background-color :white;
  margin-top:12px;

  li{
    display: list-item;
    padding:10px 100px 10px 10px;
    border: 0.5px solid whitesmoke;
  }
}

.search-btn{
  cursor: pointer;
  cursor: hand;
  font-size:14px;
  padding: 0px;
  border-width: 0px;
  border-style: none;
}
