.logout-contents{
  width:100%;
  &__container{
    background: #fff;
    margin: 0 auto;
    padding: 64px;
    text-align: center;
    a{
      text-decoration: none;
      max-width: 320px;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      display: inline-block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
    }
  }
}