.product_exibit{
  width: 700px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  z-index: 1;
  &__contents{
    border-top: 1px solid #eee;
  }
  &__title{
    padding: 32px 16px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
  }
  &__image-box{
    padding: 40px;
    position: relative;
    z-index: 3;
    &__image{
      width:100%;
      // width: calc(100% - 126px);
      padding: 40px;
      position: relative;
      z-index: 5;
      min-height: 162px;
      background: #f5f5f5;
      border: 1px dashed #ccc;
      text-align: center;
      -webkit-transition: -webkit-box-shadow ease-out .3s;
      transition: -webkit-box-shadow ease-out .3s;
      transition: box-shadow ease-out .3s;
      transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
      cursor: pointer;
      float: right;
      margin-left: 2%;
      margin-top:30px;
      transition: .3s;
      transition-property:box-shadow;
      &.dragover{
        border: none;
        box-shadow: 0px 0px 5px #aaa;
      }
      pre{
        position: absolute;
        top: 40%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
  &--wrap{
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    align-items: flex-end;
  }
  &__add-card{
    position: relative;;
    width:116px;
    height:162px;
    border: 1px solid #eee;
    margin-left: 8px;
    &:first-child{
      margin: 0;
    }
    &__image{
      width: 116px;
      height:116px;
      background-color: #f5f5f5;
      & img{
        object-fit: contain;
        width:114px;
        height:115px;
      }
    }
    &__btns{
      display: flex;
      width:100%;
      height: 46px;
      & p {
        display: block;
        height: 100%;
        line-height: 46px;
        text-align: center;
        width: 50%;
        color: #0099e8;
        background-color: #f5f5f5;
        border-top: 1px solid #eee;
        cursor: pointer;
        &:nth-child(2){
          border-left: 1px solid #eee;
        }
        &:hover{
          opacity: .7;
          text-decoration: underline;
        }
      }
    }
  }
  &__content{
    padding: 40px;
    border-top: 1px solid #eee;
    &__text{
      margin-bottom: 50px;
      p {
        line-height: 20px;
      }
      a{
        color: #0099e8;
        text-decoration: none;
      }
    }
  }
  &__form{
    &__right{
      float: right;
      width: 400px;
      margin: 0;
    }
    &__select{
      margin: 5px 0 30px;
      select{
        padding: 0 10px;
        position: relative;
        z-index: 2;
        height: 48px;
        padding: 0 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: 0;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
        width: 25%;
      }
      &.select-long{
        select{
          width: 100%;
        }

      }
    }
    &__back-btn{
      width: 45%;
      margin: 24px auto 0;
      background: #aaa;
      border: 1px solid #aaa;
      color: #fff;
      text-decoration: none;
      display: block;
      line-height: 48px;
      font-size: 14px;
      text-align: center;
    }
    &__required{
      background: #ea352d;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }
    &__top{
      &__text{
        display: inline-block;
        padding-top:25px;
        width: 180px;
        & .text-right{
          float: right;
        }
      }
    }
    &__middle{
      padding: 24px 0;
      border-top: 1px solid #ccc;
      &__text{
        &__left{
          display:inline-block;
          float: left;
        }
        &__right{
          display:inline-block;
          float: right; 
        }   
      }
    }
    &__bottom{
      padding: 24px 0;
      border-top: 1px solid #ccc;
      &__text{
        &__left{
          display:inline-block;
          float: left;
          font-weight: bold;
        }
        &__right{
          font-weight: bold;
          display:inline-block;
          float: right; 
          font-size:34px;
        }   
      }
    }
  }
  span{
    &.question-mark{
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #0099e8;
      color: #fff;
      line-height: 14px;
      font-size: 12px;
      text-align: center;
    }
  }
  i{
    font-weight: 600;
    font-style: normal;
  }
}
.product-form-input-text{
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 130px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0;
  margin: 8px 0 0;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;

}

.product-form-input{
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom:30px;
}

.input-right{
  float: right;
  display: inline;
  width: 50%;
  text-align: right;
}

.exhibit-modal{
  position: fixed;
  top:0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 400;
  background-color: rgba($color: #000000, $alpha: 0.6);
  display: none;
  &__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 30%;
    transform: translate(-50%,-50%);
    width: 620px;
    text-align: center;
    &__title{
      font-size:20px;
    }
    &__text{
      display: block;
      margin-top: 20px;
      padding: 40px 0px;
    }
    &__btn{
      text-decoration: none;
      display: block;
      width:540px;
      height:50px;
      background-color: #ea352d;
      color: #fff;
      line-height: 50px;
      font-size: 18px;
      &:hover{
        background-color: rgba($color: #ea352d, $alpha: .7);
      }
    }
    &__link{
      text-decoration: none;
      display: block;
      padding-top: 20px;
      &:hover{
        opacity: .7;
      }
    }
  }
}