.search-result{
  h2{
    font-size:22px;
    margin: 0 0 8px;

    #search-result__text{
      font-size:18px;
    }
  }
  .search-result__number{
    margin: 16px 0;
    font-size: 12px;
    color: #888;
  }
  
  .search-result__items{
    display:flex;
    flex-wrap: wrap;
    
    

    &__box{
      margin: 0 15px 20px 0;
      position: relative;
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        width: 0px;
        height: 0px;
        border: 0px solid #ccc;
        border-top-color: whitesmoke;
        border-right-color: whitesmoke;  
        background-color: whitesmoke;
        transition: .4s all ease;
        overflow: hidden;
      }
      &:hover {
        &:after {
          border-width:13px;  
       } 
      }
      &__body{
        background-color:white;
        height: 80px;
        padding: 8px 12px;
        word-wrap: break-word;
        width: 160px;
      }

      img{
         vertical-align: bottom;
        }
        
    
      a{
      font-size: 22px;
      text-decoration: none;
      }

    }
    

    .item-title{
      font-size:16px;
      text-align: left;
      color:black;
      overflow: hidden;
      height: 50px;
    }
    .item-price{
      font-size:16px;
      display: flex;
      margin:0px 0px;
      justify-content:space-between;
      color:black;
      font-weight:bold;
      i{
        color:gainsboro;
      }
    }
  }
}
