.mypage--card
  .mypage--card__container
    %h2 支払い方法
    .mypage--card--inner
      .mypage--card--inner__contents
        %h3 クレジットカード一覧
        %ul
      .add--card
        .add--card__content
          %a{href: "#"}
            = icon 'far fa-credit-card' ,class:"fa-credit-card"
            クレジットカードを追加する
      .add--card--bottom
        %a{href: "#"}
          支払い方法について
          = icon 'fas fa-chevron-right' ,class:"fa-chevron-right"
